<div *ngIf="content != null" >
<p
  *ngIf="content.content.googlemap.description"
  [innerHTML]="content.content.googlemap.description"
></p>
<iframe
  src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12619.604975752904!2d144.96602400000003!3d-37.745461!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc10a0306027a7ab3!2sNOAC+Consultants!5e0!3m2!1sen!2sus!4v1561702924013!5m2!1sen!2sus"
  width="100%"
  height="450"
  frameborder="0"
  style="border:0"
  allowfullscreen
></iframe>
<!-- <agm-map [latitude]="lat" [longitude]="lng" height="500px">
    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
  </agm-map> -->
</div>